.cardproduct{

    border-radius: 20px !important;
}

.card-body:last-child {
    padding-left: 15%;
    padding-top: 5%;
}

.img-fluid {
    max-width: 140% !important;
}

.card-title {
    display: flex !important;
}

.card-text {
    display: flex !important;
    text-align: initial;
}

.btn-dark {

    width: 100% !important;
    margin-top: 2% !important;
    margin-bottom:1% !important ;
}